* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f4f4f4;
    color: #333;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header h1 {
    font-size: 2rem;
    color: #004080;
}

.date-range {
    display: flex;
    align-items: center;
}

.date-range p {
    margin-right: 10px;
    font-size: 1rem;
}

.date-range span {
    font-weight: bold;
}

.card-casosIdade {
    background-color: #fff;
    border-radius: 8px;
    height: 320px;
    width:600px;
    margin-bottom: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h2 {
    font-size: 1.5rem;
    margin-bottom: 15px;
    color: #004080;
}

.card ul, .card ol {
    list-style-type: none;
    font-size: 1rem;
}

.card.full-width {
    grid-column: span 2;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.country {
    color: red;
    font-weight: bold;
    margin-top: 10px;
}

/* Adicionando estilos para gráficos, placeholders */
.chart {
    width: 100%;
    height: 200px;
    background-color: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    font-size: 1.2rem;
}

/* Para dispositivos móveis */
@media (max-width: 768px) {
    .content {
        grid-template-columns: 1fr;
    }
}
