@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./variaveis.css');
:root{
    --primaria: #193D65;
    --default-bgColor: #F6F6F6;
    --borderColor: #8d8787;
    --boxDash: background: linear-gradient(160deg, rgba(255,255,255,1) 0%, rgba(212,212,212,1) 100%);
}
body{
    height: 100vh;
    width: 100%;
    background-color: var(--default-bgColor);
    font-family: 'Exo 2'
}
canvas{
    width: 100%;
    height: auto;
}

.mainClass{
    display: flex;
    flex-direction: column;
}

.header{
    display:flex;
    flex-direction: row;
    justify-content:space-between;
    height: 2%;
    width: 100%;

}
#selectEstados{
    color: var(--borderColor);
    width: 10%;
    height: 4vh;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
}
.dataFiltroGrafico{
    display: flex;
    flex-direction: row;
    width: 70%;
    height: 4vh;
}
.dateClass{
    width: 10%;
    height: 5vh;
}

.colunaData{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 4vh;
}

.colunaData h3{
    color: var(--borderColor);
    font-weight: bold;
    font-size: 20px;
}
.colunaData p{
    color: var(--primaria);
    font-weight: bold;
    font-size: 20px;
    
}

.rankingPrincipaisAfetados h1{
    display: flex;
    justify-content: start;
    width: 50%;
    height: 0;
    margin-left: 2vw;
    color: var(--primaria);
    font-size: 30px;
}

.rankingPrincipaisAfetados{
    background-color: var(--default-bgColor);
    width: 80%;
    height: 12%;
    margin-top: 5%;
    color: var(--primaria);
    display: flex;
    flex-direction:column;
    border-radius: 25px;
    box-shadow: 1px 5px 3px var(--borderColor);
}

.classesDosAfetados{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.rankingUnitario{
    color: var(--primaria);
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 16px;
    margin-right: 50px;
}

.rankingUnitario h2{
    font-weight: bold;
    padding: 10px;
}

.graficosDashboard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 10%;
}

.boxGraphic{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    width: 32%;
    height: 30vh;
    box-shadow: 1px 5px 3px var(--borderColor);
    border-radius: 25px;
    margin-top: 3vh;
    background-color: var(--boxDash);
    font-weight: bold;
}
#myRadarChart{
background-color: var(--boxDash);
}

#gauge{
    padding: 30px;
    width: 50vw; /* Ajuste conforme necessário */
    height: 200px;
}

.gaugeTitle{
    text-align: center;
    color: var(--primaria);
    margin-bottom: 10px;
    font-size: 25px; 
    font-weight: bold;

}

.dashboardCasos{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    height: 10%;
}

.boxGraficosFooter{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
    width: 49%;
    height: 34vh;
    box-shadow: 1px 5px 3px var(--borderColor);
    border-radius: 25px;
    margin-top: 1vh;
    background-color: var(--boxDash);
    font-weight: bold;
}

#graficoBarraBox{
   width: 5vw;
   height: 5vh;
}