@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');
@import url('./variaveis.css');
html {
    scroll-behavior: smooth;
}

body{
    height: 100vh;
    width: 100%;
}

#inicio{
    height: 100vh;
    width: 100%;
    position: absolute; 
}
#sobre{
    height: 100vh;
    width: 100%;

}
.header{
    width: 100%;
    position: fixed;
    z-index: 1;
}
.mainHeader{
    display: flex;
    height: 100px;
    width: 100%;
    box-shadow: 0 .5px 4px #939393 ;
    justify-content: space-between;
    align-items: center;
    background-color: var(--header);
}

.options{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 0;
    display: none;
 }
 .option{
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 18px;
    transition: all .4s ease-in-out;
    color: #939393;
    cursor: pointer;
    margin-bottom: 10px;
 }
 .option:hover{
    color: var(--primaria);
  }
 
  .menu{
    width: 100%;
    visibility: hidden;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 .5px 4px #939393;
    background-color: var(--header);
    transform : translateX(380px);
    transition: transform .6s ease-in-out; 
}


.headerLogo{
    width: 50%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;
}

.btnLogin{
    display: none;
}
.btnLoginMobile{
    width: 80px;
    height: 30px;
    background-color: var(--botton);
    border-radius:5px;
    border: 0;
    color: #FFF;
    box-shadow: #939393 1px 1px 4px;
    transition: all .4s ease-in-out;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 14px;
    cursor: pointer;
}
.btnLoginMobile:hover{
   background-color: var(--primaria);
}
.btnLoginMobile:active{
    transform: scale(.95);
}

.divisor{
    font-family: "Exo 2";
    font-weight: 200;
    font-size:0px;
    padding: 10px;
    color: #939393;
}
.mobileMenu{
    width: 30%;
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.icon{
    font-size: 20px;
}

.healthStyled{
    background-color: var(--primaria);
    width: 110px;
    height: 30px;
    border-top-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
    color: #FFF;
    box-shadow: #292929 0 2px 4px;
}
.welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
}
.Apresentation{
    display: flex;
    align-items: center;
    color: #292929;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 26px;
}
.desc{
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 16px;
    color: #5e5e5e;
    width: 300px;
    text-align: center;
    margin-top: 20px;
}

.Start{
    width: 200px;
    height: 40px;
    border: none;
    background-color: var(--primaria);
    border-radius: 6px;
    font-family: "Exo 2";
    font-weight: 600;
    font-size: 20px;
    color: #FFF;
    box-shadow: #292929 0 2px 4px;
    transition: all ease-in-out .4s;
    cursor: pointer;
    display: none;
    }

.moreContainer{
    position: absolute;
    height: 90vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.descricaoEmpresa{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.textos{
    display: flex;
    flex-direction: column;
    width: 80%;
}
#title{
    font-family: "Exo 2";
    font-size: 24px;
    font-weight: 600;
    color: var(--primaria);
}

#descricao{
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 400;
    color: #292929;
    margin-top: 20px;
    text-align: justify;
}

.buttons{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.btnSobre{
    margin-top: 20px;
    width: 200px;
    height: 40px;
    border: none;
    background-color: #FFF;
    border-radius: 4px;
    box-shadow: 0 1px 4px #112a47;
    color: var(--botton);
    font-family: "Exo 2";
    font-size: 14px;
    font-weight: 600;
}
.active{
    background-color: var(--primaria);
    color: #FFF
}

#valores {
    width: 100%;
    padding: 60px 0;
    background-color: #f1f1f1;
}

.valoresContainer {
    width: 90%;
    margin: 0 auto;
    text-align: center; 
    height: 65%; 
}

.valoresTitle {
    font-family: "Exo 2", sans-serif;
    font-size: 30px;
    font-weight: 600;
    color: var(--primaria);
    margin-bottom: 40px;
}

.valoresItems {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    width: 100%;
}

.valorItem {
    background-color: var(--primaria);
    color: white;
    padding: 20px;
    border-radius: 10px;
    flex: 1;
    min-width: 220px;
    max-width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    box-shadow: #3b236c 0 2px 4px;
}

.valorItem:hover {
    transform: translateY(-5px);
}

.valorName {
    font-family: "Exo 2", sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}

.valorDesc {
    font-family: "Exo 2", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #e0e0e0;
}