/* CSS existente */
@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url("./variaveis.css");

html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
  width: 100%;
}

#inicio {
  height: 100vh;
  width: 100%;
  position: absolute;
}

#sobre {
  height: 100vh;
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
}

.header {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.mainHeader {
  display: flex;
  height: 100px;
  width: 100%;
  box-shadow: 0 0.5px 4px #939393;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  background-color: var(--barraHeader);
}

.options {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;
}

.option {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 18px;
  transition: all 0.4s ease-in-out;
  color: #939393;
  cursor: pointer;
}

.option:hover {
  color: var(--primaria);
}

.headerLogo {
  width: 30%;
  display: flex;
  justify-content: center;
}

.loginContainer {
  display: flex;
  width: 33%;
  justify-content: flex-end;
}

.loginClick {
  color: #0450a7;
  font-size: medium;
  cursor: pointer;
}

.loginClick2 {
  margin-top: 10px;
  color: #0450a7;
  font-size: medium;
  margin-left: 190px;
  cursor: pointer;
}

.btnLogin {
  width: 130px;
  height: 40px;
  background-color: var(--botton);
  border-radius: 14px;
  border: 0;
  color: #fff;
  box-shadow: #939393 1px 1px 4px;
  transition: all 0.4s ease-in-out;
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 18px;
  margin-right: 50px;
}

.btnLogin:hover {
  background-color: var(--primaria);
}

.btnLogin:active {
  transform: scale(0.95);
}

.divisor {
  font-family: "Exo 2";
  font-weight: 200;
  font-size: 30px;
  padding: 10px;
  color: #939393;
}

.healthStyled {
  background-color: var(--primaria);
  width: 300px;
  height: 100px;
  border-top-left-radius: 40px;
  border-bottom-right-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  color: #fff;
  box-shadow: #193d65 0 2px 4px;
}

.welcome {
  width: 100%;
  height: 30vh;
  margin-top: 30vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
}

.Apresentation {
  display: flex;
  align-items: center;
  color: var(--letras);
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 70px;
}

.desc {
  font-family: "Exo 2";
  font-weight: 600;
  font-size: 26px;
  color: #5e5e5e;
  width: 800px;
  text-align: center;
  margin-top: 20px;
}

.Start {
  width: 300px;
  height: 60px;
  border: none;
  background-color: var(--primaria);
  border-radius: 6px;
  font-family: "Exo 2";
  font-weight: 600;
  margin-top: 30px;
  font-size: 26px;
  color: #fff;
  box-shadow: #193d65 0 2px 4px;
  transition: all ease-in-out 0.4s;
  cursor: pointer;
}

.Start:active {
  transform: scale(0.95);
}

.moreContainer {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.descricaoEmpresa {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  align-items: center;
  height: 65%;
}

.textos {
  display: flex;
  flex-direction: column;
  width: 50%;
}

#title {
  font-family: "Exo 2";
  font-size: 70px;
  font-weight: 600;
  color: var(--primaria);
}

#descricao {
  font-family: "Exo 2";
  font-size: 26px;
  font-weight: 400;
  color: var(--letras);
  margin-top: 20px;
  text-align: justify;
}

.buttons {
  display: flex;
  flex-direction: column;
}

.btnSobre {
  margin-top: 20px;
  width: 300px;
  height: 60px;
  border: none;
  background-color: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px #327bcb;
  color: var(--botton);
  font-family: "Exo 2";
  font-size: 2rem;
  font-weight: 600;
}

.active {
  background-color: var(--primaria);
  color: #fff;
}

#valores {
  width: 100%;
  padding: 60px 0;
  background-color: var(--header);
}

.valoresContainer {
  width: 90%;
  margin: 0 auto;
  text-align: left;
  height: 65%;
  margin-left: 8%;
}

.valoresTitle {
  font-family: "Exo 2", sans-serif;
  font-size: 64px;
  font-weight: 600;
  color: #193d65;
  margin-bottom: 40px;
}

.valoresItems {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;
}

.valorItem {
  background: linear-gradient(
    180deg,
    rgba(50, 123, 203, 1) 2%,
    rgba(25, 61, 101, 1) 86%
  );
  color: white;
  padding: 20px;
  border-radius: 10px;
  flex: 1;
  min-width: 250px;
  max-width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: left;
}

.valorItem:hover {
  transform: translateY(-5px);
}

.valorName {
  font-family: "Exo 2", sans-serif;
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
}

.valorDesc {
  font-family: "Exo 2", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  color: #e0e0e0;
}

.mobileMenu {
  display: none;
}

.menu {
  display: none;
}

#contato {
  padding: 100px 0;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  margin-top: 10%;
}

.contatoTitle {
  font-size: 3rem;
  color: #193d65;
  margin-bottom: 20px;
  animation: fadeInDown 1s ease-in-out;
}

.contatoDesc {
  font-size: 2rem;
  color: #666;
  margin-bottom: 50px;
  line-height: 1.6;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  animation: fadeInUp 1s ease-in-out;
}

.contatoWrapper {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.contatoContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.contatoItem {
  background-color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 40px;
  text-align: left;
  flex: 1;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  position: relative;
  min-width: 300px;
}

.contatoItem:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.contatoIcon {
  font-size: 40px;
  color: #327bcb;
  margin-bottom: 20px;
  animation: bounce 2s infinite;
}

.contatoSubtitle {
  font-size: 2rem;
  color: #193d65;
  margin-bottom: 10px;
}

.contatoText {
  font-size: 2rem;
  color: #666;
  line-height: 1.6;
}

.contatoFormContainer {
  flex: 1;
  min-width: 300px;
  background-color: #ffffff;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
  border-radius: 12px;
  padding: 80px;
}

.contatoForm {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contatoForm input,
.contatoForm textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1.8rem;
  box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.05);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.contatoForm input:focus,
.contatoForm textarea:focus {
  border-color: #327bcb;
  box-shadow: 0 0 8px rgba(50, 123, 203, 0.2);
  outline: none;
}

.contatoForm button {
  padding: 15px;
  background-color: #327bcb;
  color: #fff;
  font-size: 1.6rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.contatoForm button:hover {
  background-color: #193d65;
}

.contatoForm button:active {
  transform: scale(0.96);
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

@media (max-width: 768px) {
  .contatoWrapper {
    flex-direction: column;
    align-items: center;
  }

  .contatoItem,
  .contatoFormContainer {
    margin-bottom: 20px;
  }
}

#servico {
  width: 100%;

  height: 100%;
  position: relative;
}

.circleContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 100%;
  height: 700px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
}

#circulo {
  width: 1400px;
  height: 1400px;
  border-radius: 50%;
  background: linear-gradient(45deg, #292929 0%, #8f8f8f 100%);
  transition: transform 0.5s ease-in-out;
  position: absolute;
  bottom: -950px;
  margin: 0 auto;
  left: 0;
  right: 0;
  display: flex;
  transform: rotate(45deg);
}
.circle-image {
  position: absolute;
  width: 500px;
  height: 500px;
  object-fit: cover;
  z-index: 1;
}

#image1 {
  top: 0;
  left: 0;
  transform: rotate(-45deg);
}

#image2 {
  top: 0;
  right: 0;
  transform: rotate(-315deg);
}

#image3 {
  bottom: 0;
  left: 0;
  transform: rotate(225deg);
}

#image4 {
  bottom: 0;
  right: 0;
  transform: rotate(135deg);
}
.btnCircle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 2px solid #939393;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  background: "transparent";
  transition: all 0.6s ease-in-out;
}

.icon {
  font-size: 30px;
  color: #939393;
  transition: color 0.6s ease-in-out;
}
.btnCircle:hover {
  background: var(--sobre);
  .icon {
    color: var(--barraHeader);
  }
}

.infoServicos {
  padding-top: 12%;
  display: flex;
  justify-content: space-around;
}

#titulo {
  font-size: 70px;
  color: var(--botton);
  width: 650px;
  font-weight: 600;
}

#descricaoServico {
  font-size: 36px;
  color: var(--primaria);
  width: 700px;
  text-align: justify;
}

/* Tela de Cadastro */

.cadastro-container {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  padding-left: 8%;
  margin-top: 10%;
  position: relative;
}

.cadastro-text {
  max-width: 380px;
  text-align: left;
}

.cadastro-text h1 {
  font-size: 40px;
  font-weight: 800;
  background: linear-gradient(0deg, #327bcb 0%, #193d6b 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 0;
}

.cadastro-text p {
  font-size: 18px;
  color: #193d65;
  margin-top: 10px;
  line-height: 1.2;
}

.cadastro-form {
  position: relative;
  max-width: 400px;
  margin-top: 20px;
}

.cadastro-form label {
  font-size: 16px;
  color: #193d65;
  margin-bottom: 5px;
  font-weight: 600;
}

.cadastro-form input,
.cadastro-form select {
  width: 376px;
  height: 40px;
  box-sizing: border-box;
  background-color: #ffffff;
  border: 1px solid #000;
  font-size: 16px;
  padding: 8px;
}

.cadastro-form input::placeholder {
  color: rgba(25, 61, 101, 0.7);
}
.inputs-step1,
.inputs-step2 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

.inputs-step3 {
  display: flex;
  flex-direction: column;
  gap: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: opacity 0.5s ease-in-out;
}

input,
select {
  flex-shrink: 0;
}
.cadastro-form select {
  background-color: FFFFFF;
}

.cadastro-form input:focus,
.cadastro-form select:focus {
  outline: none;
}

.btnContinuar2 {
  width: 376px;
  height: 40px;
  box-sizing: border-box;
  background-color: #193d65;
  color: white;
  letter-spacing: 2px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 42px;
  transition: background-color 0.3s ease;
}

.btnContinuar {
  width: 376px;
  height: 40px;
  box-sizing: border-box;
  background-color: #193d65;
  color: white;
  letter-spacing: 2px;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin-top: 50%;
  transition: background-color 0.3s ease;
}

.input-wrapper {
  position: relative;
  height: 110px;
}

.input-wrapper2 {
  position: relative;
  height: 90px;
}

.cadastro-container,
.cadastro-text,
.cadastro-form {
  font-family: "Poppins", sans-serif;
}

.inputs-step1,
.inputs-step2,
.inputs-step3 {
  transition: opacity 0.5s ease-in-out;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.visible {
  opacity: 1;
  visibility: visible;
}

.dots-container {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.dots-container2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.dot {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #7692b1;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.dot.active {
  background-color: #193d65;
}

.dot2 {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #d9d9d9;
  transition: background-color 0.3s ease;
}

.dot2.active {
  background-color: #ffffff;
}

@media (max-width: 768px) {
  .cadastro-container {
    margin-top: 150px;
    padding: 10px;
  }

  .cadastro-text h1 {
    font-size: 28px;
  }

  .cadastro-text p {
    font-size: 16px;
  }
}

@media (max-width: 480px) {
  .cadastro-container {
    padding: 5px;
    margin-top: 180px;
  }

  .cadastro-text h1 {
    font-size: 24px;
  }

  .cadastro-text p {
    font-size: 14px;
  }

  .btnContinuar {
    font-size: 16px;
  }

  .btnEntrar {
    font-size: 16px;
  }
}

.slideshow-container {
  position: absolute;
  right: 0;
  width: 50%;
  height: 510px;
  margin-right: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
  flex-direction: column;
}

.slideshow {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  background-size: cover;
  background-position: center;
}

.slide.active {
  opacity: 1;
  transform: translateX(0);
}

.slide.previous {
  transform: translateX(-100%);
}
.chartImage {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
  width: 450px;
  opacity: 0.9;
  animation: float 3s ease-in-out infinite;
}

@keyframes float {
  0% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
.text-container {
  position: absolute;
  bottom: 60px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  color: white;
}

.custom-dots-container {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
}

h1 {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 0;
}

p {
  font-size: 1rem;
  color: #ffffff;
  margin-top: 10px;
}

.custom-dots-container {
  margin-top: 20px;
}

.custom-dot {
  height: 15px;
  width: 15px;
  margin: 0 5px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.custom-dot-active {
  background-color: #717171;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
