:root{
    --primaria: #193D65;
    --sobre: linear-gradient(180deg, rgba(50,123,203,1) 2%, rgba(25,61,101,1) 86%);
    --header: #f1f1f1;
    --botton: #327BCB;
    --letras: #292929;
    --barraHeader: #ffffff;
 }
 /* cor valores: #864ef2
     cor primaria: #6c3ac5
     cor header: #f1f1f1
     cor botton: #FF88EE
 */