@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url(".../css/variaveis.css");

.home {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: space-around;
}

.header {
  max-width: 78%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  width: 100%;
}

h1 {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #193d65;
  margin: 0;
}

.indicatorTitle{
  font-family: var(--font);
  font-size: 24px;
  color: var(--negative);
  font-weight: 900;
  line-height:38px;
}


.chartHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  box-sizing: border-box;
  padding-left: 3%;
  margin-top: 2%;
}


.lineChart h2, .lineChart .indicatorTitle {
  margin: 0; 
}



.lineChart .chartHeader p {
  color: #193d65;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
  pointer-events: none;
}


.header-container {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.kpi {
  flex: 1;
  max-width: 385px;
  height: 120px;
  background: var(--bgColorIndicatorsLight);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 4px 4px #00000058;
  margin: 0;
  text-align: left;
  position: relative;
}

.kpi h4 {
  font-family: "Exo 2", sans-serif;
  font-size: 32px;
  font-weight: 700;
  color: #193d65;
  margin: 0;
}

.kpi p {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #193d65;
  margin: 5px 0;
}

.indicator {
  font-family: "Exo 2", sans-serif;
  font-size: 20px;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ff1744;
  gap: 4px;
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.indicator.up::before {
  content: "▲";
  font-size: 20px;
  color: #ff1744; 
}

.indicator.down::before {
  content: "▼";
  font-size: 20px;
  color: #00e676; 
}


.charts-container {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  justify-content: center;
  width: 100%;
  margin-top: 1%;
}

.chart-group {
  display: flex;
  flex-direction: column;
  gap: 2%;
}

.lineChart {
  width: 780px;
  height: 380px;
  background: var(--bgColorIndicatorsLight);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: 0 4px 4px #00000058;
  margin: 2px;
}

.chart {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.estadoAtual {
  text-transform: uppercase;
}


/* .lineChart h2 {
  position: absolute;
  top: 20px;
  left: 43px;
  color: #193d65;
  font-family: "Exo 2", sans-serif;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
  pointer-events: none;
} */

.lineChart .chart canvas {
  width: 82% !important;
  height: 90% !important;
}

canvas {
  font-size: 34px;
  color: #193d65;
}

#selectEstados, #anoInicial , #anoFinal {
  color: var(--borderColor);
  width: 20%;
  height: 4vh;
  border: 1px solid var(--borderColor);
  border-radius: 5px;
  font-size: 18px;
}

.chartjs-tooltip {
  font-family: "Exo 2", sans-serif;
  font-size: 24px;
  color: #193d65;
}

@media (max-width: 768px) {
  .header-container {
    flex-direction: column;
    gap: 15px;
  }

  .charts-container {
    flex-direction: column;
    gap: 20px;
  }

  .lineChart {
    width: 100%;
    height: 250px;
  }
}

/* Estilo do Modal */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
  justify-content: center;
  align-items: center;
}

.modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 600px;
  text-align: center;
  position: relative;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  cursor: pointer;
}

.modal-input {
  margin: 15px 0;
  text-align: left;
}

.modal-input label {
  display: block;
  font-size: 14px;
  margin-bottom: 5px;
}

.modal-input select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#search-btn {
  background: #193d65;
  color: #fff;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

#search-btn:hover {
  background: #14568a;
}

.icon-btn {
  position: fixed;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1001;
}

.calendar{
  display: flex;
  align-items: center;
}

.timeIndicator{
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
.iconCalendar{
  width: 40px;
}
.startEnd{
  font-family: var(--font);
  color: var(--borderColor);
  font-size: 20px;
  font-weight: 600;
}
.date{
  font-family: var(--font);
  color: var(--primaria);
  font-size: 22px;
  font-weight: 600;
}

.arrow{
  width: 48px;
  margin-right: 30px;
  margin-top: 25px;
}