@import url("https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap");
@import url(".../css/variaveis.css");

.home {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Cria 2 colunas de tamanho igual */
    grid-template-rows: repeat(2, 1fr); /* Cria 2 linhas de tamanho igual */
    gap: 3px; /* Espaçamento entre os itens */
    height: 100vh; /* Defina o tamanho total da altura para usar o espaço disponível */
    align-items: center; /* Alinha os itens verticalmente ao centro */
    justify-items: center; /* Alinha os itens horizontalmente ao centro */
    padding-left: 50px; /* Ajusta o padding da esquerda */
    padding-right: 50px; /* Ajusta o padding da direita */
}

.lineChart {
    height: 367px;
    width: 714px; /* Define uma largura fixa para os gráficos */
    background: var(--bgColorIndicatorsLight);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Garante que o conteúdo dentro de lineChart será centralizado */
    border-radius: 10px;
    box-shadow: 0 4px 4px #00000058;
    margin: 0;
}

.chart {
    width: 100%; /* Garante que o canvas ocupe a largura total disponível dentro de .chart */
    height: 100%; /* Garante que o canvas ocupe a altura total disponível dentro de .chart */
}
